/* Navbar Styles */
.navbar {
  background-color: #4a90e2; /* Example blue background */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-name {
  font-size: 24px;
  font-weight: bold;
}

.App-icon {
  height: 50px; /* Adjust as needed */
}

.middleContent{

  display: flex;
  flex-direction: row;

}

/* Sidebar Styles */
/* Sidebar Styles */
.side-items {
  background-color: #4a90e2; /* Dark background for sidebar */
  color: white;
  width: 200px; /* Adjust the width as needed */
  height: 100vh; /* Full height */
  padding: 20px;
}

.side-items ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

.side-items li {
  margin-bottom: 20px; /* Spacing between items */
}

.side-items a {
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Adjust font size as needed */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.side-items a:hover {
  color: #3498db; /* Change color on hover */
}

/* Styles for the main container */
.task-container {
  display: flex;
  justify-content: space-around; /* Distributes columns evenly */
  padding: 20px; /* Padding around the entire container */
  max-width: 1000px; /* Maximum width of the container */
  margin: auto; /* Center the container */
}

/* Styles for each task list column */
.task-container div {
  width: 45%; /* Each column takes up 45% of the container width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for each column */
  padding: 20px; /* Padding inside each column */
  border-radius: 10px; /* Rounded corners */
}

/* Styles for the headers */
.task-container h2 {
  color: #333; /* Dark text for readability */
  text-align: center; /* Center align the headers */
  margin-bottom: 20px; /* Space below the headers */
}

/* Styles for the task lists */
.task-container ul {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
}

/* Styles for each task */
.task-container li {
  background-color: #f2f2f7; /* Light background for tasks */
  margin-bottom: 10px; /* Space between tasks */
  padding: 10px; /* Padding inside each task */
  border-radius: 5px; /* Rounded corners for tasks */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

/* Hover effect for tasks */
.task-container li:hover {
  background-color: #e2e2e8; /* Slightly darker background on hover */
}



/* Footer Styles */
.footer-content {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
